{
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "jsxSingleQuote": true,
    "endOfLine": "cr",
    "jsxBracketSameLine": true
}
